<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.code">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/android_jetpack"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".JetPackFeatureSelectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Code">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".navigation.activities.NavigationDrawerActivity"
            android:screenOrientation="portrait"
            android:label="@string/navigation"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".navigation.activities.TwoFragmentContainerActivity"
            android:screenOrientation="portrait"
            android:label="@string/navigation"
            android:theme="@style/Theme.Code" />
        <activity
            android:name=".navigation.activities.BottomNavigationActivity"
            android:screenOrientation="portrait"
            android:label="@string/navigation"
            android:theme="@style/Theme.Code" />
        <activity
            android:name=".lifecycle.activities.ExoplayerActivity"
            android:screenOrientation="portrait"
            android:label="@string/life_cycle_aware"
            android:theme="@style/Theme.Code" />
        <activity
            android:name=".navigation.activities.SelectionScreenActivity"
            android:screenOrientation="portrait"
            android:label="@string/navigation"
            android:theme="@style/Theme.Code" />
    </application>

</manifest>